.div-border {
   border: 1px solid black;
   border-radius: 20px;
   border-color:  rgba(0,0,0,.56);
}


.center {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.center-heading {
  margin: 0;
  position: static;
  top: 20%;
  left: 2%;
}

.signout{
  display: flex;
  justify-content: end;
}

.heading {
  font-size: 30px;
  font-family: fantasy;
  font-style: oblique;
}



.form-color {
  background-color: rgba(0,0,0,.56);
  
}


.pad-left-right {
  padding-left: 10px;
  padding-right: 10px;
}

.transparent {
  opacity: 0;
}

.borders{
  border-color:rgba(0,0,0,.56);
  background-color: transparent;
}

.rad {
  border-radius: 20px;
}


.text-buttons {
  text-decoration: none;
}


.navigation-bar{
  margin: 0;
  /* position: relative; */
  max-width: 100%;
  width: 100%;
  background-color: #6495ED;
  height:20%;
}

